{% extends 'base.html.twig' %}

{% block title %}Product
{% endblock %}
{% block stylesheets %}


	{{parent()}}
	<style>
		.height-max {
			max-height: 90vh;
		}
		/* Styles for the modal container */
		.modal {
			display: none;
			position: fixed;
			z-index: 1;
			left: 0;
			margin: 0;
			padding: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}

		/* Styles for the modal content */
		.modal-content {
			;

			/* background-color: #fefefe; */
			/* margin: 15% auto; */
			/* padding: 20px; */
			/* border: 1px solid #888; */
			/* width: 80%; */
			/* max-width: 400px; */
			/* text-align: center; */
		}
		.modal-img {
			padding-top: 2rem;
			margin-left: auto;
			margin-right: auto;
			height: 95vh;
			/* border-radius: 20px; */
		}
		/* Styles for the close button */
		.close {
			color: white;
			float: right;
			font-size: 35px;
			font-weight: bold;
			cursor: pointer;
			padding-right: 1rem;
		}

		.close:hover,
		.close:focus {
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	</style>

{% endblock %}

{% block body %}
	<div class="flex flex-col md:flex-row items-center justify-center">
		<div
			class=" overflow-hidden w-full md:flex">
			<!-- Section des images -->
			<div
				class=" overflow-hidden md:w-1/2 lg:w-2/3 xl:w-1/2">
				<!-- Grande image (réduite) -->
				<div class="h-3/4 flex items-center justify-center pb-3">
					<button class="open-modal-btn" data-modal-id="modal1">
						<img id="largeImage" src="{{ asset('photo/product/' ~ product.photo[0].reference) }}" alt="Product Image" class=" h-96">
					</button>
				</div>
				<div id="modal1" class="modal">
					<div class="modal-content">
						<span class="close">&times;</span>
						<img id="largeImage" src="{{ asset('photo/product/' ~ product.photo[0].reference) }}" alt="Product Image" class="modal-img">
					</div>
				</div>
				<!-- Petites images carrées -->
				<div class="flex flex-row items-center h-1/4 space-x-4 pl-1">
					{% for pic in product.photo|slice(1) %}
						<div class="w-1/4 h-1/4  flex items-center justify-center">
							<button class="open-modal-btn" data-modal-id="{{pic.reference}}">
								<img src="{{ asset('photo/product/' ~ pic.reference) }}" alt="Product Image" class=''>
							</button>
						</div>
						<div id="{{pic.reference}}" class="modal">
							<div class="modal-content">
								<span class="close">&times;</span>
								<img src="{{ asset('photo/product/' ~ pic.reference) }}" alt="Product Image" class='modal-small-img '>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="w-full md:w-1/2 mt-5 px-4 md:px-6 lg:pl-20">
				<div class="mb-8">
					<span class="text-lg font-medium text-rose-500 dark:text-rose-200">New</span>
					<h2 class="max-w-xl mt-2 mb-6 text-2xl font-bold dark:text-gray-400 md:text-4xl">
						{{ product.name }}
					</h2>
					<p class="max-w-md mb-8 text-gray-700 dark:text-gray-400">
						{{ product.description }}
					</p>
					<p class="inline-block mb-8 text-4xl font-bold text-gray-700 dark:text-gray-400">
						<span>€{{ product.price }}</span>
					</p>
					<p class="text-green-600 dark:text-green-300">{{ product.inStock ? "en stock" : "en réapprovisionnement" }}</p>
				</div>

				<div class="w-32 mb-8">
					<label for="" class="w-full text-xl font-semibold text-gray-700 dark:text-gray-400">Quantity</label>
					<div class="relative flex flex-row w-full h-10 mt-4 bg-transparent ">
						<button class="w-20 h-full text-gray-600 bg-gray-300  outline-none cursor-pointer dark:hover:bg-gray-700 dark:text-gray-400 hover:text-gray-700 dark:bg-gray-900 hover:bg-gray-400">
							<span class="m-auto text-2xl font-thin">-</span>
						</button>
						<input type="number" class="flex items-center w-full font-semibold text-center text-gray-700 placeholder-gray-700 bg-gray-300 outline-none dark:text-gray-400 dark:placeholder-gray-400 dark:bg-gray-900 focus:outline-none text-md hover:text-black" placeholder="1">
						<button class="w-20 h-full text-gray-600 bg-gray-300 outline-none cursor-pointer dark:hover-bg-gray-700 dark:text-gray-400 dark:bg-gray-900 hover:text-gray-700 hover:bg-gray-400">
							<span class="m-auto text-2xl font-thin">+</span>
						</button>
					</div>
				</div>

				<div class="flex flex-wrap items-center -mx-4">
					{% if product.inStock %}
						<div class="w-full px-4 mb-4 lg:w-1/2 lg:mb-0">
							<a href='{{ path('app_cart_add', {'id': product.id}) }}' class="flex items-center justify-center w-full p-4 text-blue-500 border border-blue-500  dark:text-gray-200 dark:border-blue-600 hover:bg-blue-600 hover:border-blue-600 hover:text-gray-100 dark:bg-blue-600 dark:hover:bg-blue-700 dark:hover:border-blue-700 dark:hover:text-gray-300">
								Ajouter au Panier
							</a>
						</div>
					{% else %}
						<div class="w-full px-4 mb-4 lg:w-1/2 lg:mb-0">
							<button class="flex items-center justify-center w-full p-4 text-red-500 border border-red-500  dark:text-gray-200 dark:border-red-600 bg-red-100 dark:bg-red-900">
								Épuisé
							</button>
						</div>
					{% endif %}
				</div>
			</div>


		</div>
	</div>

	<script>
		// Get all elements with the class "open-modal-btn"
const modalBtns = document.querySelectorAll(".open-modal-btn");

// Add a click event listener to each button
modalBtns.forEach((btn) => {
btn.addEventListener("click", () => { // Get the data-modal-id attribute from the button
const modalId = btn.getAttribute("data-modal-id");

// Get the modal element by its ID
const modal = document.getElementById(modalId);

// Open the modal
modal.style.display = "block";
});
});

// Get all elements with the class "modal"
const modals = document.querySelectorAll(".modal");

// Add a click event listener to each close button
modals.forEach((modal) => {
const closeBtn = modal.querySelector(".close");

closeBtn.addEventListener("click", () => { // Close the modal
modal.style.display = "none";
});

// Close the modal when clicking outside the modal content
window.addEventListener("click", (event) => {
if (event.target === modal) {
modal.style.display = "none";
}
});
});
	</script>
	{# 
																																																																																																													<a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
																																																																																																												
																																																																																																													{{ include('product/_delete_form.html.twig') }} #}


{% endblock %}
